<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Rest-1</title>
<!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">
<!-- Compressed Jquery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>
<!-- Compressed JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
</head>
<body>
  <div class="row align-middle" style="padding-top:100px;">
    <div class="column large-12 text-center">
      <h1>REST-1</h1>
      <h3>Click the Button to begin the client request sequence!</h3>
      <p>(Each Request is made 2 sec. after the previous.)</p>
    </div>
    <div class="column large-12 text-center">
      <button class="button primary large" style="border-radius:10px;" onclick="startRequestSequence()">Let's Begin</button>
    </div>
    <div class="column large-4 small-12 text-left" style="visibility: hidden;">text</div>
    <div id="response-text" class="column large-4 small-12 text-left"></div>
    <div class="column large-4 small-12 text-left" style="visibility: hidden;">text</div>
  </div>

</body>
<script src="/scripts/client.js"></script>

</html>
